
html,body,div,form,fieldset,label,input,span,p,ul,li,img,a,strong,small {
	margin:0;
	padding:0;
}

body,input {
	font-family:sans-serif;
	font-size:12px;
	color:#444;
}

body {
	background:#fff;
	text-align:center;
}

a,a:link,a:active,a:visited,a:hover {
	color:#15c;
	text-decoration:none;
}

form#memory strong {
	margin:0 0 2em 0;
	display:block;
	font-size:2em;
	text-align:center;
}

form#memory {
	width:400px;
	text-align:left;
	line-height:1.4em;
}

form#memory fieldset {
	border:none;
}

form#memory label {
	display:block;
	float:left;
	margin:0 1em 0 0;
}

form#memory input[type=text] {
	border:none;
	background:transparent;
}

form#memory #iSlider {
	margin:10px 0;
}

form#memory .center {
	text-align:center;
}

form#memory input[type=submit] {
	background:#f8f8f8;
	border:1px solid #ccc;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	cursor:pointer;
	margin:20px 0 20px 0;
	text-transform:uppercase;
	padding:4px 6px;
}

form#memory input[type=submit]:hover,
form#memory input[type=submit]:active,
form#memory input[type=submit]:focus {
	background:#fdf5ce;
	border-color:#fbcb09;
}

form#memory small {
	display:block;
}

div#memory {
	position:relative;
	margin:10px auto;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div#memory ul {
	list-style-type:none;
	line-height:0;
	clear:both;
}

div#memory li {
	border:1px solid #ccc;
	float:left;
	margin:5px;
	-webkit-box-shadow: 1px 1px 2px 1px #ccc;
	-moz-box-shadow: 1px 1px 2px 1px #ccc;
	box-shadow: 1px 1px 2px 1px #ccc;
	cursor:pointer;
}

div#memory li.solved {
	cursor:default;
}

div#memory li:hover {
	margin:6px 4px 4px 6px;
	-webkit-box-shadow: 0px 0px 1px 0px #ccc;
	-moz-box-shadow: 0px 0px 1px 0px #ccc;
	box-shadow: 0px 0px 1px 0px #ccc;
}

div#memory div {
	background:#f8f8f8 url('bg-memory.png');
	border:3px solid #fff;
	width:90px;
	height:90px;
}

div#memory img {
	display:none;
}

div#memory p {
	float:left;
	width:33%;
	margin:10px 0;
}

div#solved strong {
	font-size:3em;
}

div#solved p {
	margin:1em 0;
}

br.clear {
	line-height:0;
	font-size:0;
	clear:both;
}
